DirectoryIndex dist/index.html
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /ReactTestIonos/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !^/ReactTestIonos/dist/
  RewriteRule . /ReactTestIonos/dist/index.html [L]
</IfModule>
